@import'src/assets/modules';

.workHistoryEditModal {
  width: $profileModal-width;
  //横のpaddingを38pxにしたい
  padding: $space-md $space-lg + 8px;
  background: $white;

  .calender {
    width: $calenderInput-width;
  }
}