@import "src/assets/modules";

.root {
  position: relative;
  width: 100%;

  input {
    color: $black;
    border: 1px solid $light-gray;
    border-radius: $radius-sm;
    padding: $space-s;
    width: 100%;

    ::placeholder {
      color: $medium-gray;
    }
    &[type="date"] {
      color: $medium-gray;
    }
  }

  span {
    position: absolute;
    right: $space-xxs;
    //position: absoluteで上下中央揃えにしている
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}