@import "src/assets/modules";

.base {
  color: $black;
  font-size: $f-size-body-text;

  &[data-bold="true"] {
    font-weight: bold;
  }
  &[data-block="true"] {
    display: block;
  }
  &[data-color="black"] {
    color: $black;
  }
  &[data-color="darkGray"] {
    color: $dark-gray;
  }
  &[data-color="danger"] {
    color: $danger-color;
  }
}