.row {
  display: flex;
  flex-direction: row;
}

.alignItemsCenter {
  display: flex;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}