$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 16px;

// メディアクエリ
$size-ranks: xxs, xs, s, sm, md, lg, xl, xxl;

$sidebar-width: 165px;
$profileModal-width: 620px;
$profileModal-height: 723px;
$calenderInput-width: 150px;
$selectBox-width: 157px;
$profileCoverImage-height: 190px;
$uploadIcon_size: 24px;
// プロフィール画像のサイズ
$image-md: 120px;


